#t1 {
    background-color: #e6e6e6;
    border-radius: 16px;
    width: 600px;
    height: 600px;
}



.layer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-control {
    background-color: white;
    margin-left: 30px;
}


.input-grp input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #555;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-image: url('passwordlogo.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

    .input-grp input:focus {
        border-color: #007bff;
        border-width: 2px;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }

.pwicon {
    all: unset;
    margin: .50em .2em .2em .7em;
    color: black;
}


.input-grp input:hover {
    transform: translateY(-3%);
}
