#t1 {
    background-color: #e6e6e6;
    border-radius: 16px;
    width: 600px;
    height: 600px;
}



.layer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: rgb(98, 110, 130);
    font-weight: bold;
    display: block;
    margin-bottom:30px;
    margin-left: 30px;
}

    

.form-control {
    background-color: white;
    margin-left: 30px;
}


.input-grp input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #555;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 15px;
   
    background-image: url('namelogo.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.accicon {
    all: unset;
    margin: .50em 0 0 .7em;
    color: black;
}
.input-grp2 input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #555;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 15px;
  
    background-image: url('passwordlogo.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transform: translateY(-10%);
}

.Button1 {
    margin-left: 30px;
    background-color: #29354C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    display: block;
}

    .Button1:hover {
        background-color: #E86262;
        color: white;
        transform: translateY(-10%);
    }

.input-grp input:hover {
    transform: translateY(-3%);
}

.input-grp2 input:hover {
    transform: translateY(-3%);
}
