.updateQuizMain {
    margin: .5rem 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.editIcon {
    font-size: inherit !important;
}

.newQuestionField {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--outline);
}

.newQuestionField textarea, input[type=text] {
    border: 1px solid var(--outline);
    border-radius: .35rem;
    padding: .5rem;
    flex-grow: 1;
}

.newQuestionField textarea:focus, input[type=text]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

.question {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid var(--outline);
    display: flex;
    flex-direction: column;
}

.questionDesc {
    margin-top: .4rem;

    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
    transition: .25s;
}

.questionDesc:hover {
    color: var(--primary-color);
}

.questionDesc span {
    font-size: inherit;
}

.questionAnswerSection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.questionAnswer {
    border: 1px solid var(--outline);
    border-radius: .35rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.questionAnswer label {
    display: flex;
    align-items: center;
    padding: .75rem;
}

.answerDesc {
    cursor: pointer;
}

.answerDesc:hover {
    color: var(--primary-color);
}

.answerRight {
    padding: .3rem .5rem;
}

.newAnswerField {
    display: grid;
    grid-template-columns: 7fr 1rem auto;
    grid-template-rows: 1fr 0fr;
    margin-top: 1rem;
    transition: .25s;
}

.newAnswerField.validationError {
    grid-template-rows: 1fr auto;
}

.btnGrid {
    max-width: fit-content;
}

#quizQuestionFieldModal {
    width: 70%;
}

.quizQuestionField {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quizQuestionField textarea {
    border: 1px solid var(--outline);
    border-radius: .35rem;
    padding: .5rem;
    flex-grow: 1;
    max-height: 50vh;
}

.quizQuestionField textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

#quizAnswerFieldModal {
    width: 70%;
}

.quizAnswerField {
    display: flex;
    gap: 1rem;
    position: relative;
}

.quizAnswerField input[type=text] {
    flex-grow: 1;
}

.quizAnswerField .validationMessage {
    position: absolute;
    top: 100%;
}
