body {
}

.modal-background {
    position: fixed;
    width: 100%; /* Cover the entire screen width */
    height: 100%; /* Cover the entire screen height */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 10px; /* Reduced padding */
    border-radius: 5px;
    width: 85%; /* Adjusted for a smaller modal */
    max-width: 500px; /* Smaller max-width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    font-size: 20px; /* Smaller font size */
    margin-bottom: 15px; /* Smaller margin */
}

.modal-content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 0; /* Reduced padding */
}

.detail-item {
    display: block;
    margin-bottom: 8px; /* Reduced margin */
}

.modal-content select,
.modal-content input[type="text"] {
    width: 90%; /* Adjust width to fit modal size */
    padding: 8px; /* Smaller padding */
    margin: 10px auto; /* Reduced margin */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Smaller font size */
}

.modal-footer {
    text-align: center;
    padding: 8px 0; /* Reduced padding */
}



.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10%;
}

.btnSubmit, .btnCancel {
    padding: 15px 30px;
    background-color: #E86262;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btnSubmit:hover {
        background-color: #29354C;
        color: #ffffff;
    }

.btnCancel {
    padding: 10px 20px;
    background-color: #29354C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btnCancel:hover {
        background-color: #E86262;
        color: #ffffff;
    }

.ddlPaymentmethods {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.acceptedPayments {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    position: relative;
    left: -10px;
    top: -20px;
}

.payment-logo {
    display: inline-block;
    height: 30px;
    width: auto;
}


.error {
    display: block; /* Change from flex to block for vertical layout */
    width: 100%;
    text-align: left;
    color: red;
    font-size: 0.8rem;
    margin-top: 2px; /* Adjust margin-top to ensure it's close but not overlapping */
    margin-bottom: 5px; /* Reduced bottom margin for compact layout */
}



/*End of Account Upate Panel*/

material-symbols-outlined backIcon {
    display: flex;
    width: 100%;
    text-align: left;
    color: red;
    font-size: 0.8rem;
    margin-top: -1px;
    margin-bottom: 25px;
}

/* General styles for the status message */
.statusMessage {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

    /* Specific styles for error messages */
    .statusMessage.error {
        background-color: #d9534f;
    }

    /* Specific styles for success messages */
    .statusMessage.success {
        background-color: #5cb85c;
    }

    /* Styles for general informational messages */
    .statusMessage.info {
        background-color: #5bc0de;
    }
