body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
    color: #29354C;
    margin-top: 10px;
    margin-right: 30px;
}

.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.balance-text {
    display: flex;
    align-items: center;
    flex: 1; /* Ensures that it takes available space pushing the button to the end */
}

.lblBalance, .litBalance {
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
}

.litBalance {
    color: green;
}

.lblBalance {
    color: #29354C;
}

.balance-button {
    padding: 10px 20px;
    background-color: #E86262;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0; /* Prevents the button from shrinking */
}

    .balance-button:hover {
        background-color: #29354C;
    }

.withdrawal-notice {
    color: red;
    font-size: small;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
}

.Status-text {
    display: flex;
    align-items: center;
}

.lbRequestID, .litID {
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
}

.litID {
    color: chocolate;
}

.litStatus {
    padding: 10px 20px;
    color: green;
    font-weight: bold;
}

/* GridView custom styling */
.withdraw-requests-grid {
    width: 90%;
    margin: 10px auto;
    background-color:#E86262 ;
    border-collapse: collapse;
    box-shadow: 0 2px 3px #ccc;
    font-weight:bold;
}

    .withdraw-requests-grid th {
        background-color:#29354C;
        color: white;
        padding: 8px;
        text-align: center;
    }

    .withdraw-requests-grid td {
        padding: 8px;
        text-align: center;
        border-top: 1px solid #ddd;
    }

    /* Hover effect for rows */
    .withdraw-requests-grid tr:hover {
        background-color: #f5f5f5;
    }

/* Styling for labels and literals within the page */
.label, .lit {
    display: flex;
    text-align: center;
    margin-right: 5px;
}

/* Styling for the notice area at the bottom of the page */
.withdrawal-notice {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

/* Button styling for a consistent and modern look */
input[type="button"], input[type="submit"], .btnSubmit, .btnCancel {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

    input[type="button"]:hover, input[type="submit"]:hover, .btnSubmit:hover, .btnCancel:hover {
        background-color: #45a049;
    }

/* Error and success message styling */
.error {
    color: red;
}

.success {
    color: green;
}