.accordianContainer .accordianItem:first-child {
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.accordianContainer .accordianItem:last-child {
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.accordianItem {
    border: 1px solid var(--outline);
}

.accordianItem:not(:last-of-type) {
    border-bottom: none;
}

.accordianActivator {
    padding: .75rem .5rem;
    cursor: pointer;
}

.accordianContent {
    cursor: pointer;
}

.accordianContent a:not(a:last-of-type) {
    border-bottom: 1px solid var(--outline);
}

.accordianActivator {
    background: var(--surface-variant);
    display: flex;
    justify-content: space-between;
}

.accordianActivator .rightSide {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.accordianContentWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: .25s;
}

.accordianContentExpand {
    grid-template-rows: 1fr;
}

.accordianItem .chevron {
    transition: .25s;
    transform: rotate(0deg);
}

.accordianItem:has(.accordianContentExpand) .chevron {
    transform: rotate(180deg);
}

.accordianContent {
    overflow: hidden;
}

.accordianContent .contentRow {
    display: block;
    padding: .5rem !important;
    transition: .25s;
}

.accordianContent .contentRow:hover {
    color: var(--primary-color);
}

