.uploadFileContainer {
    border: 2px dashed var(--outline);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem;
}

.uploadFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.uploadFileEnter {
    border: 2px dashed var(--primary-color);
    color: var(--primary-color);
}

.uploadIcon {
    font-size: 5rem !important;
}

.filePreview {
    width: 100%;
    object-fit: contain;
}

.fileListPreview {
    margin: 1rem 0;
    margin-top: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--outline);
    opacity: 0;
}

.fileListPreview:not(:empty) {
    opacity: 1;
}

.fileItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.fileItem .deleteIcon {
    color: var(--primary-color);
    cursor: pointer;
}

.fileItem:not(:last-child) {
    border-bottom: 1px solid var(--outline);
}

