.customerChapterContentMain {
    margin: .5rem 1rem;
    margin-bottom: 1rem;
}

.vid {
    margin: 1rem 0;
    width: 100%;
}

.vid video {
    border-radius: .5rem;
    object-fit: contain;
    width: 100%;
}

.chapterContentContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--outline);
}

.contentDesc {
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.fileResources {
    display: flex;
    gap: .5rem;
}

.fileObject {
    border-radius: 99999vh; /* pill shape hack */
    border: 1px solid var(--outline);
    padding: .2rem .8rem !important;
    cursor: pointer;
}

.navigateCourse {
    margin-top: 1rem;
}
