.customerChapterContentMain {
    margin: .5rem 1rem;
    margin-bottom: 1rem;
}

.vid {
    margin: 1rem 0;
    width: 100%;
}

.vid video {
    border-radius: .5rem;
    object-fit: contain;
    width: 100%;
}

.chapterContentContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--outline);
}
