.topField {
    display:flex;
    justify-content: flex-start;
    gap: 2em;
    width:auto;
    padding: 1em;
    margin-left: 8em;
    align-items:center; 
}
.searchIcon {
    all: unset;
    margin: .25em 0 0 .5em;
    padding-right: 1em;
    color: rgba(0, 0, 0, .4);
}

.input {
    all: unset;
    border: none;
    width: 18em;
}

/*this dk still got function boh*/
.input:active {
    border:none;
}

.dateTitle {
    display: flex;
    justify-content:space-between;
    margin-top: .5em;
}

.newRequestText {
    font-size: 1.15em !important
}

.newBtn {
    all: unset; /* reset styles first */
    background-color: var(--primary-color) !important;
    border-radius: .25em;
    padding: .5em .75em !important;
    text-align:center;
}

.newBtn:hover {
    cursor:pointer;
}

.newBtn:visited {
    text-decoration: none;
    color: var(--text-on-primary) !important;
}

.search {
    border: solid;
    border-color: rgba(0, 0, 0, .4);
    border-radius: .25em;
    padding: .1em;
    display: flex;
    width: 25em;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    width: max-content;
    padding: 1em;
    gap: 2em;
}

.filterText {
    font-weight: bold;
    font-size: x-large;
    margin-top: .2em;
}

.filterStatus {
    padding: 0 1em 0 1em;
}

.statusText {
    font-weight: bold;
    font-size: large;
}

.radioBtn {
    padding-top: .5em;
}

.dateText {
    font-weight: bold;
    font-size: large;
    padding-bottom: .5em;
}

.filterDate {
    padding-left: 1em;
    padding-top: 1em;
}

.dateInput {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    margin-top: .5em;
    flex-direction:column;
}

.width-max {
    width: max-content;
}

.dateInputField {
    border-radius: .25em;
    border-color: var(--text-on-surface);
    border: solid;
    border-color: rgba(0, 0, 0, .4);
    color: var(--text-on-surface);
    padding: .35em;
    font-size: 1.05em;
}

.content {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
}

.request {
    margin: 1em;
    border: solid 2px;
    border-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.requestContentArea {
    border-left: solid 2px;
    border-color: rgba(0, 0, 0, .4);
}

.requestBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: solid 2px;
    border-color: rgba(0, 0, 0, .4);
    max-width:fit-content;
    gap: .5em;
    padding: .75em;
}

.Btn {
    all: unset; /* reset styles first */
    border-radius: .25em;
    padding: .5em .75em;
    text-align: center;
}

.requestContent {
    padding: 0.5em 1em 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.margin-top {
    margin-top: .7em;
}

.inputField {
    border: solid;
    border-color: rgba(0, 0, 0, .4);
    border-radius: .25em;
    color: var(--text-on-surface);
    padding: .35em;
    font-size: 1.05em;
    width: 100%;
    margin-top:.5em;
}

.to {
    padding: 0.75em 0;
    display: flex;
    justify-content: center;
}
